.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #d3cad6;
    padding-top: 3px;
    margin-top: 5px;
}

.navLeft h3{
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0px;
    font-size: 30px;
    color:black;
}

.navRight{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navRight ul{
    display: flex;
    list-style: none;
    padding: 0px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}


.navRight a{
    margin: 3px 15px;
    text-decoration: none;
    color: black;
    margin-top:5px;
    font-weight: bold;
    font-size:18px;
}